@tailwind base;
@tailwind components;
@tailwind utilities;

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px #f0f0f0 inset !important;
    -webkit-text-fill-color: black !important;
    -webkit-text-stroke-width: 0.2px;
}

@layer utilities {
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    .no-scrollbar {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
}

@font-face {
    font-family: "italic_eiko";
    src: url(./assets/fonts/Eiko-italic/PPEiko-LightItalic.otf);
}

@font-face {
    font-family: "heading_flexa";
    src: url(./assets/fonts/Flexa-headings/GT-Flexa-Extended-Bold-Trial.otf);
}

@font-face {
    font-family: "discription_neuw";
    src: url(./assets/fonts/Neue-Montreal-description/PPNeueMontreal-Book.otf);
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.animate-fadeInUp {
    animation: fadeInUp 1s ease-out forwards;
}

.chat_loader {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.chat_loader hr {
    border-radius: 4px;
    border: none;
    background-color: #f6f7f8;
    background: linear-gradient(to right, #21978B, #ffffff, #21978B);
    background-size: 800px 50px;
    height: 20px;
    animation: loader 3s infinite linear;
}

.response-content h1 {
    font-size: 1.5rem;
    color: #1e90ff;
}

/* .response-content {
    display: flex;
} */

.response-content p {
    margin: 0.5rem 0;
    line-height: 1.5;
}

.response-content br {
    margin: 1rem 0;
}

@keyframes loader {
    0% {
        background-position: -800px 0px;
    }

    100% {
        background-position: 800px 0px;
    }
}