@tailwind base;
@tailwind components;
@tailwind utilities;

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px #f0f0f0 inset !important;
    -webkit-text-fill-color: black !important;
    -webkit-text-stroke-width: 0.2px;
}

@layer utilities {
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    .no-scrollbar {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
}

@font-face {
    font-family: "italic_eiko";
    src: url(./assets/fonts/Eiko-italic/PPEiko-LightItalic.otf);
}

@font-face {
    font-family: "heading_flexa";
    src: url(./assets/fonts/Flexa-headings/GT-Flexa-Extended-Bold-Trial.otf);
}

@font-face {
    font-family: "discription_neuw";
    src: url(./assets/fonts/Neue-Montreal-description/PPNeueMontreal-Book.otf);
}